<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Practicantes</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<h2>Gestión de Practicantes</h2>

<input id="id" type="hidden">
Nombre: <input id="nombre"><br>
Carrera: <input id="carrera"><br>
Universidad: <input id="universidad"><br>
Email: <input id="email"><br>
País: <input id="pais"><br>
Estado:
<select id="estado">
    <option>Activo</option>
    <option>Egresado</option>
</select><br>
<button id="guardar">Guardar</button>

<h3>Lista</h3>
<table border="1">
    <thead>
    <tr>
        <th>ID</th><th>Nombre</th><th>Carrera</th>
        <th>Email</th><th>Pais</th><th>Acciones</th>
    </tr>
    </thead>
    <tbody id="tabla"></tbody>
</table>



</body>

<script>

</script>
</html>